My Project.json
{
  "name": "My Project",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Z4qHjuIBVHj0c5f6ZUPx_z8ZXeVN4mYh92vbrG7gVNw",
          "mode": "list",
          "cachedResultName": "Data Pengeluaran Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z4qHjuIBVHj0c5f6ZUPx_z8ZXeVN4mYh92vbrG7gVNw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Z4qHjuIBVHj0c5f6ZUPx_z8ZXeVN4mYh92vbrG7gVNw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nama Toko": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, \"\")).nama_toko }}",
            "Kategori": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, \"\")).kategori }}",
            "Total Harga": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, \"\")).total_harga }}",
            "Tanggal": "={{ JSON.parse($json.content.parts[0].text.replace(/```json|```/g, \"\")).tanggal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama Toko",
              "displayName": "Nama Toko",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Kategori",
              "displayName": "Kategori",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Harga",
              "displayName": "Total Harga",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "70dad10b-9778-4a44-a2da-9ff21224cca7",
      "name": "Catat ke GSheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EgUAxe5kY8d6OTst",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aeb9221c-cc3e-469d-8c64-f5a8441e3a06",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "sukses",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "0e60d987-6e84-44f3-9bb9-e82422d48ae2",
      "name": "Cek Struk"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Tolong analisa gambar struk ini dan ekstrak datanya ke dalam format JSON yang valid. \n\nATURAN OUTPUT:\n1. Jika gambar jelas dan merupakan struk, berikan JSON dengan format:\n{\n  \"status\": \"sukses\",\n  \"nama_toko\": \"Nama Toko (atau 'Tidak Ada Nama' jika tidak ketemu)\",\n  \"tanggal\": \"DD/MM/YYYY\",\n  \"total_harga\": angka_saja_tanpa_simbol,\n  \"kategori\": \"Pilih satu: [Makanan/Minuman, Transportasi, Kebutuhan Harian, Otomotif, Lainnya]\"\n}\n\n2. Jika gambar benar-benar tidak bisa terbaca sama sekali atau bukan struk, berikan JSON status gagal. Namun, selama teks masih bisa dibaca meski sedikit redup, usahakan tetap ekstrak datanya.\n\nPENTING: Hanya berikan output berupa kode JSON saja, tanpa penjelasan tambahan.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "795b7fd2-cb9a-4102-9e6d-f150aff6437f",
      "name": "AI Baca Struk",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "hKdtl1mvM2d9R5PJ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        240
      ],
      "id": "21a9c894-0e67-42bc-917a-f4bb5a777dea",
      "name": "Terima Pesan Masuk",
      "webhookId": "dcf4b8fc-1752-4825-89ae-26d311e0eb56",
      "credentials": {
        "telegramApi": {
          "id": "BphLiNrDqph1P09r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d5cca90-f397-46bc-a8a4-118a07403b8e",
              "leftValue": "={{ $json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        80
      ],
      "id": "978d2116-cc98-4290-b568-7a79493cdcfb",
      "name": "Ada Foto Ngga?"
    },
    {
      "parameters": {
        "chatId": "6155131672",
        "text": "Woi, ini Asisten Keuangan! Tolong kirim gambar struknya yaa, jangan cuma dichat doang. Terimakasih :)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        208
      ],
      "id": "210fead5-8f28-4eb2-a2ea-d76f4aed6108",
      "name": "Tolong Kirim Fotonya",
      "webhookId": "b64d2e84-7fc4-43d4-bfa6-f0f2dca465d2",
      "credentials": {
        "telegramApi": {
          "id": "BphLiNrDqph1P09r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo.slice(-1)[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "73635319-ae7c-4ddd-b924-7eed33386ef3",
      "name": "Download Foto Telegram",
      "webhookId": "0adf20fa-4794-409b-a004-5db79ac75b2b",
      "credentials": {
        "telegramApi": {
          "id": "BphLiNrDqph1P09r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Terima Pesan Masuk\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "Waduh, fotonya kurang jelas nih! 😵‍💫 Tolong kirim gambarnya yang lebih jelas, tidak gelap dan tidak blur ya, supaya aku bisa catat ke Google Sheets dengan benar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        208
      ],
      "id": "003720d8-9a3c-46d9-b6f0-c6c1c5c3b477",
      "name": "Struknya Blur, Burem, Jelek",
      "webhookId": "3bef4ee7-c7fa-4fa4-b6d7-3a3a7ea80c6c",
      "credentials": {
        "telegramApi": {
          "id": "BphLiNrDqph1P09r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6155131672",
        "text": "=✅ Laporan Masuk!\nData pengeluaran berhasil dicatat ke sistem.\n\n📅 Tanggal: {{ $json[\"Tanggal\"] }}\n🏪 Toko: {{ $json[\"Nama Toko\"] }}\n🏷️ Kategori: {{ $json[\"Kategori\"] }}\n💰 Total: Rp {{ Number($json[\"Total Harga\"]).toLocaleString('id-ID') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        16
      ],
      "id": "f23734c7-e591-4603-91c3-97151cfffc95",
      "name": "Sip, Saya Catat!",
      "webhookId": "8e861bef-e1b0-413c-9114-933670bf9de1",
      "credentials": {
        "telegramApi": {
          "id": "BphLiNrDqph1P09r",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Catat ke GSheet": {
      "main": [
        [
          {
            "node": "Sip, Saya Catat!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Struk": {
      "main": [
        [
          {
            "node": "Catat ke GSheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Struknya Blur, Burem, Jelek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Baca Struk": {
      "main": [
        [
          {
            "node": "Cek Struk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terima Pesan Masuk": {
      "main": [
        [
          {
            "node": "Ada Foto Ngga?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ada Foto Ngga?": {
      "main": [
        [
          {
            "node": "Download Foto Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tolong Kirim Fotonya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Foto Telegram": {
      "main": [
        [
          {
            "node": "AI Baca Struk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bbb6bd2f-9d17-41e3-935b-4b128edb8d4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7762260969ce1b1f607bc86cdcbb8007b0ded25e792ccdc3c7592b5a1230f59"
  },
  "id": "ShZlzwmp9AkgdsIM",
  "tags": []
}